.user-image-button {
    color: #5983E3;
    font-size: 2vh;
}
.mobile_header{
    display: none;
}
.nav_mobile{
    display: none;
}
.user_profile_container {
    display: flex;
    flex-direction: column;
}
.cover_background {
    background-color: #5983E3;
    height: 20vh;
    border-radius: 0 0 15px 15px;
}
.user_details_container {
   
    position: absolute;
    top: 20%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image_coverup {
     width: 120px;
    height: 120px;
    left: 25px;
    top: 90px;
    
    background: #FFFFFF;
border: 1px solid #E2E2E2;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
border-radius: 27px;
    
}
.img_preview {
    margin-left: 8px;
    margin-top: 8px;

  height: 100px;
  width: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
    .full_header{
        display: none;
    }
    .mobile_header{
        display: block;
    }
    .nav_mobile{
        display: block;
    }
}
.profile_image{
    width: 100px;
    height: 100px;
    left: 25px;
    top: 90px;
    
    border: 1px solid #E2E2E2;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 50%);
}